.cards__article-content-text {
    width: 352px;
    height: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 16px auto 18px;
}

@media screen and (max-width:768px) {
    .cards__article-content-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 192px;
        height: 88px;
        margin:10px 16px 12px;
       
    }
}