.about-author__content {
    display:flex;
    flex-direction: column;
    max-width: 550px;
    min-width:300px;
    flex-wrap: wrap;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .about-author__content {
        max-width: 424px;
    }
}

@media screen and (max-width:320px) {
    .about-author__content {
        max-width: 320px;
        align-items:center;
    }
}