.footer__navi-links {
    width: 300px;
    justify-content: space-around;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .footer__navi-links {
        width: 250px;
    }
}

@media screen and (max-width:380px) {
    .footer__navi-links {
        width: 150px;
        height: 74px;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}