.footer__navi-links-icons-block {
    width: 100px;
    justify-content: space-around;
}

@media screen and (max-width:380px) {
    .footer__navi-links-icons-block {
        height: 60px;
        display: flex;
        margin: 20px;
    }
}