.cards__article-content-source {
    color: #B6BCBF;
    max-width:400px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left:24px;
    display:block;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}