.header__content-header {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    max-width: 608px;
    height: 128px;
    margin: 30px 19px 0px;
}

@media screen and (min-width:321px) and (max-width:768px) {
    .header__content-header {
        font-size: 36px;
        line-height: 40px;
        max-width: 385px;
        height: 80px;
    }
}

@media screen and (max-width:320px) {
    .header__content-header {
        width: 285px;
        height: 80px;
        font-size: 36px;
        line-height: 40px;
    }
}