.header__logged-in {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    background: rgba(196, 196, 196, 0.01);
}

@media screen and (max-width:768px) {
    .header__logged-in {
        display: flex;
        position: relative;
        max-width: 768px;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width:550px) {
    .header__logged-in {
        height: 56px;
        
    }
}