.header__auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 100px;
    color: #FFFFFF;
    width: 176px;
    height: 50px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .header__auth-button {
        width: 100px;
        height: 40px;
    }
}

@media screen and (max-width:550px) {
    .header__auth-button {
        width: 288px;
        height: 56px;
        display: none;
        top: 130px;
        right: 0px;
    }
}