.header__mobile-main-not-logged-in {
    /* max-width: 320px; */
    min-width:100%;
    height: 286px;
    background: #1A1B22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;;
    position: absolute;
    z-index: 2;
    align-items: flex-start;
    display:none;
    
}
.header__mobile-main-logged-in {
    /* max-width: 320px; */
    min-width:100%;
    height: 286px;
    background: #1A1B22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;;
    position: absolute;
    z-index: 2;
    align-items: flex-start;
    display:none;
    
}