.cards__article-button-trash {
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../image/card/trash.svg);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .cards__article-button-trash {
        top: 8px;
        right: 8px;
    }
}