.header__search-field-form-input {
    position: absolute;
    width: 480px;
    height: 58px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    padding-left: 20px;
}

@media screen  and (max-width:768px) {
    .header__search-field-form-input {
        position: absolute;
        width: 424px;
        height: 56px;
        border-radius: 100px;
        border: 1px solid #FFFFFF;
        
    }
}

@media screen and (max-width:550px) {
    .header__search-field-form-input {
        left:18%;
        align-self: center;
        width: 268px;
        height: 56px;
        margin-top: 100px;
        left:0;
        
    }
}
