.header__content-description {
    max-width: 545px;
    padding:0px 16px;
}

@media screen and (max-width:768px) {
    .header__content-description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        max-width: 452px;
    }
}

@media screen and (max-width:320px) {
    .header__content-description {
        max-width: 270px;
        height: 72px;
        font-size: 18px;
        line-height: 24px;
    }
}