@import url(./__navi/footer__navi.css);
@import url(./__navi/footer__navi-links.css);
@import url(./__navi/footer__navi-links-icons-block.css);
@import url(./__navi/footer__navi-links_position.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    min-width: 700px;
}

@media screen and (min-width:321px) and (max-width:768px) {
    .footer {
        max-width: 768px;
        min-width: 354px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width:380px) {
    .footer {
        align-items: center;
        max-width: 300px;
        min-width: 150px;
        flex-direction: column-reverse;
    }
}