.error-message {
    color: #FF3333;
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.error-message-signup {
    margin: 20px auto 0px;
    width: 150px;
    color: #FF3333;
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.error-message-name {
    margin: 20px auto 0px;
    width: 150px;
    color: #FF3333;
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.error-message-mobile-email {
    margin: 20px auto 0px;
    width: 150px;
    color: #FF3333;
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.error-message-mobile-pass {
    margin: 20px auto 0px;
    width: 150px;
    color: #FF3333;
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}