.cards__article-content-header {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    width: 352px;
    height: 60px;
    margin: auto;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:768px) {
    .cards__article-content-header {
        width: 192px;
        height: 72px;
        margin: 12px 16px 10px;
        font-size: 22px;
        line-height: 24px;
    }
}