.header__search-field {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 608px;
    height: 62px;
}

@media screen and (max-width:768px) {
    .header__search-field {
        width: 448px;
        height: 56px;
    }
}

@media screen and (max-width:550px) {
    .header__search-field {
        width: 288px;
        height: 56px
    }
}

@media screen and (max-width:320px) {
    .header__search-field {
        width: 288px;
        height: 56px
    }
}