.saved__key-words {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    min-width:150px;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 7% 56px;
    display: block;
}
@media screen and (max-width:320px) {
    .saved__key-words {
        height:48px;
        width:280px;
        margin:16px 17px 32px;
    }
}